In [5]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\pooja\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\pooja\anaconda3\lib\site-packages (from beautifulsoup4) (2.2.1)
Note: you may need to restart the kernel to use updated packages.

In [6]:
#we import the libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd
import sys

In [7]:
result=requests.get('https://www.talabat.com/uae/restaurant/621133/ginos-deli-jlt?aid=1308') 
website=BeautifulSoup(result.content,'lxml')

In [8]:
name_1=website.find_all('h1',{'class':'f-24 f-m-15 media-heading f-400 mb-0'}) 

name_1[0].text

"Gino's Deliin\xa0Jumeirah Lakes Towers - JLT,\xa0UAE"

In [9]:
#we create the links from the name list:
links_1=[]

for x in name_1:
    links_1.append('https://www.talabat.com/uae/restaurant/621133/ginos-deli-jlt?aid=1308')
    links_1=list(dict.fromkeys(links_1))

In [10]:
links_1

['https://www.talabat.com/uae/restaurant/621133/ginos-deli-jlt?aid=1308']

In [11]:
def remove(name_1):
    string=("[@_!#.$%^&*()<>?/'\|}{~:]") 
    
    for i in string:
        name_1=name_1.replace(i, "") #remove the spical chracters
        
    return name_1.replace(" ","-") #replace the space with a -

In [12]:
print(name_1[0].text)

Gino's Deliin Jumeirah Lakes Towers - JLT, UAE

In [13]:
logo_1 = website.find_all('img')
  
for item in logo_1:
    print(item['src'])
logo_1[0].text

https://www.talabat.com/assets/images/logo.svg
https://images.deliveryhero.io/image/talabat/restaurants/logo_-_2021-11-23T17_637732788146540497.jpg?width=180
/assets/images/menu-ico.svg
/assets/images/icon_reviews.svg
/assets/images/icon_info_menu.svg
/assets/images/empty-cart.svg

''

In [14]:
cuisine_1 = website.find_all('p',{'class':'light-text f-14 mb-0'})

cuisine_1[0].text

'Sandwiches, Pasta, Italian'

In [15]:
# restaurant detail


a1 ={'res_name':name_1[0].text,'cuisine_tag':cuisine_1,'rest_link':links_1}
df_1 = pd.DataFrame.from_dict(a1, orient='index').transpose() #we did that as if we have an empty cell
df_1=df_1.dropna()

In [16]:
df_1.head()

,res_name,cuisine_tag,rest_link
0,"Gino's Deliin Jumeirah Lakes Towers - JLT, UAE","[[Sandwiches, Pasta, Italian]]",[https://www.talabat.com/uae/restaurant/621133...

In [19]:
result=requests.get('https://www.talabat.com/uae/restaurant/645430/pasta-della-nona-jlt-jumeirah-lakes-towers?aid=1308') 
website=BeautifulSoup(result.content,'lxml')

name_2=website.find_all('h1',{'class':'f-24 f-m-15 media-heading f-400 mb-0'}) 

def remove(name_2):
    string=("[@_!#.$%^&*()<>?/'\|}{~:]") 
    
    for i in string:
        name_2=name_2.replace(i, "") #remove the spical chracters
        
    return name_2.replace(" ","-") #replace the space with a -

links_2=[]
for x in name_2:
    links_2.append('https://www.talabat.com/uae/restaurant/645430/pasta-della-nona-jlt-jumeirah-lakes-towers?aid=1308')
    links_2=list(dict.fromkeys(links_2))

logo_2 = website.find_all('img')
  
for item in logo_2:
    print(item['src'])
logo_2[0].text

cuisine_2 = website.find_all('p',{'class':'light-text f-14 mb-0'})

cuisine_2[0].text

# restaurant detail


a3 ={'res_name':name_2,'cuisine_tag':cuisine_2,'rest_link':links_2}
df_2 = pd.DataFrame.from_dict(a3, orient='index').transpose() #we did that as if we have an empty cell
df_2=df_2.dropna()

https://www.talabat.com/assets/images/logo.svg
https://images.deliveryhero.io/image/talabat/restaurants/Logos_PastaDellaNonna_Sec637794192311679134.jpg?width=180
/assets/images/menu-ico.svg
/assets/images/icon_reviews.svg
/assets/images/icon_info_menu.svg
/assets/images/empty-cart.svg

In [25]:
name_2=website.find_all('h1',{'class':'f-24 f-m-15 media-heading f-400 mb-0'}) 

name_2[0].text

'Pasta Della Nonnain\xa0Jumeirah Lakes Towers - JLT,\xa0UAE'

In [27]:
def remove(name):
    string=("[@_!#.$%^&*()<>?/'\|}{~:]") 
    
    for i in string:
        name_2=name_2.replace(i, "") #remove the spical chracters
        
    return name_2.replace(" ","-") #replace the space with a -

In [28]:
name_2[0].text

'Pasta Della Nonnain\xa0Jumeirah Lakes Towers - JLT,\xa0UAE'

In [53]:
df_2.head()

,res_name,cuisine_tag,rest_link
0,"[Pasta Della Nonna, [], [in, , , , Jumeirah...","[Italian, Pasta, Salad]",https://www.talabat.com/uae/restaurant/645430/...

In [30]:
result=requests.get('https://www.talabat.com/uae/restaurant/50445/pizzaro-marina-3?aid=1308') 
website=BeautifulSoup(result.content,'lxml')

name_3=website.find_all('h1',{'class':'f-24 f-m-15 media-heading f-400 mb-0'}) 

def remove(name_3):
    string=("[@_!#.$%^&*()<>?/'\|}{~:]") 
    
    for i in string:
        name_3=name_3.replace(i, "") #remove the spical chracters
        
    return name_3.replace(" ","-") #replace the space with a -
links_3=[]

for x in name_3:
    links_3.append('https://www.talabat.com/uae/restaurant/50445/pizzaro-marina-3?aid=1308')
    links_3=list(dict.fromkeys(links_3))

logo_3 = website.find_all('img')
  
for item in logo_3:
    print(item['src'])
logo_3[0].text

cuisine_3 = website.find_all('p',{'class':'light-text f-14 mb-0'})

cuisine_3[0].text

# restaurant detail


a3 ={'res_name':name_3,'cuisine_tag':cuisine_3,'rest_link':links_3}
df_3 = pd.DataFrame.from_dict(a3, orient='index').transpose() #we did that as if we have an empty cell
df_3=df_3.dropna()

https://www.talabat.com/assets/images/logo.svg
https://images.deliveryhero.io/image/talabat/restaurants/pizzaro_logo_2_(500x_637901901529791866.jpg?width=180
/assets/images/menu-ico.svg
/assets/images/icon_reviews.svg
/assets/images/icon_info_menu.svg
/assets/images/empty-cart.svg

In [31]:
name_3[0].text

'Pizzaroin\xa0Jumeirah Lakes Towers - JLT,\xa0UAE'

In [55]:
df_3.head()

,res_name,cuisine_tag,rest_link
0,"[Pizzaro, [], [in, , , , Jumeirah Lakes Tow...","[Italian, Pizza, Pasta]",https://www.talabat.com/uae/restaurant/50445/p...

In [32]:
result=requests.get('https://www.talabat.com/uae/restaurant/605052/the-pasta-guyz-dubai-marina?aid=1308') 
website=BeautifulSoup(result.content,'lxml')

name_4=website.find_all('h1',{'class':'f-24 f-m-15 media-heading f-400 mb-0'}) 

def remove(name_4):
    string=("[@_!#.$%^&*()<>?/'\|}{~:]") 
    
    for i in string:
        name_4=name.replace(i, "") #remove the spical chracters
        
    return name_4.replace(" ","-") #replace the space with a -
links_4=[]

for x in name_4:
    links_4.append('https://www.talabat.com/uae/restaurant/605052/the-pasta-guyz-dubai-marina?aid=1308')
    links_=list(dict.fromkeys(links_4))

logo_4 = website.find_all('img')
  
for item in logo_4:
    print(item['src'])
logo_4[0].text

cuisine_4 = website.find_all('p',{'class':'light-text f-14 mb-0'})

cuisine_4[0].text

# restaurant detail


a4 ={'res_name':name_4,'cuisine_tag':cuisine_4,'rest_link':links_4}
df_4 = pd.DataFrame.from_dict(a4, orient='index').transpose() #we did that as if we have an empty cell
df_4=df_4.dropna()

https://www.talabat.com/assets/images/logo.svg
https://images.deliveryhero.io/image/talabat/restaurants/ThePastaGuyz-Logo_637563263478806436.jpg?width=180
/assets/images/menu-ico.svg
/assets/images/icon_reviews.svg
/assets/images/icon_info_menu.svg
/assets/images/empty-cart.svg

In [33]:
name_4[0].text

'The Pasta Guyzin\xa0Jumeirah Lakes Towers - JLT,\xa0UAE'

In [57]:
df_4.head()

,res_name,cuisine_tag,rest_link
0,"[The Pasta Guyz, [], [in, , , , Jumeirah La...","[Italian, Pasta]",https://www.talabat.com/uae/restaurant/605052/...

In [34]:
result=requests.get('https://www.talabat.com/uae/restaurant/621796/pizza-di-rocco-jumeirah-lakes-towers--jlt?aid=1308') 
website=BeautifulSoup(result.content,'lxml')

name_5=website.find_all('h1',{'class':'f-24 f-m-15 media-heading f-400 mb-0'}) 

def remove(name_5):
    string=("[@_!#.$%^&*()<>?/'\|}{~:]") 
    
    for i in string:
        name_5=name_5.replace(i, "") #remove the spical chracters
        
    return name_5.replace(" ","-") #replace the space with a -
links_5=[]

for x in name_5:
    links_5.append('https://www.talabat.com/uae/restaurant/621796/pizza-di-rocco-jumeirah-lakes-towers--jlt?aid=1308')
    links_5=list(dict.fromkeys(links_5))

logo_5 = website.find_all('img')
  
for item in logo_5:
    print(item['src'])
logo_5[0].text

cuisine_5 = website.find_all('p',{'class':'light-text f-14 mb-0'})

cuisine_5[0].text

# restaurant detail


a5 ={'res_name':name_5,'cuisine_tag':cuisine_5,'rest_link':links_5}
df_5 = pd.DataFrame.from_dict(a5, orient='index').transpose() #we did that as if we have an empty cell
df_5=df_5.dropna()

https://www.talabat.com/assets/images/logo.svg
https://images.deliveryhero.io/image/talabat/restaurants/PDR_WineRed_Logo_637661895331887248.jpg?width=180
/assets/images/menu-ico.svg
/assets/images/icon_reviews.svg
/assets/images/icon_info_menu.svg
/assets/images/empty-cart.svg

In [35]:
name_5[0].text

'Pizza Di Roccoin\xa0Jumeirah Lakes Towers - JLT,\xa0UAE'

In [59]:
df_5.head()

,res_name,cuisine_tag,rest_link
0,"[Pizza Di Rocco, [], [in, , , , Jumeirah La...","[Pizza, Pasta, Italian]",https://www.talabat.com/uae/restaurant/621796/...

In [64]:
df_5.to_csv("C:\\Users\\pooja\\OneDrive\\Desktop\\web_scraping")